# needed in 2.4
LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
<IfModule mpm_prefork_module>
  StartServers        <%= @startservers %>
  MinSpareServers     <%= @minspareservers %>
  MaxSpareServers     <%= @maxspareservers %>
  ServerLimit         <%= @serverlimit %>
  MaxClients          <%= @maxclients %>
  MaxRequestsPerChild <%= @maxrequestsperchild %>
</IfModule>
